.edit_tag{
    margin-bottom: 8px;
}

.tag_input{
    width: 160px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color:#5b8c00
}

.site-tag-plus{
    cursor: pointer;
    background-color: #87d068;
    color: #fff;
    border: 1px solid #87d068;
}

.site_tag_plus:hover{
    background-color: #5b8c00;
    border-color: #5b8c00;
}

.tag-close-icon{
    cursor: pointer;
}

.tag-close-icon:hover{
    color: #ff4d4f;
}

.tag-input-edit{
    width: 150px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.site-tag-plus {
    margin-bottom: 8px;
}