@import "login";

* {
  margin: 0;
}
.container__login{
  height: auto;
  width: 100vh;
  display: flex;
  justify-content: center;
  margin-left: 25rem;
  margin-top: 7rem;
}

.login-box {
  grid-area: formulario;
}
.logo-box {
  grid-area: logo;
}

@media (max-width: 900px) {
  .container-login {
    height: 100%;
    width: 100%;
    background: white;
  }

  .login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .logo-box {
    grid-area: logo;
  }
}
