@import "login";

* {
  margin: 0;
}
.container__login{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;  
  align-items: center;
}

.login-box {
  grid-area: formulario;
}
.logo-box {
  grid-area: logo;
}

@media (max-width: 768px) {
  .container__login{
    width: 100%;
    height: 94%;
  }
}
