@import '../../style/mixin/_index.scss';
@import '../../style/setting/_varibale.scss';

.navbar{
    background: $gray;   
    height: 100%;
}
.navbar__item{
    color: white;
    padding: 10px;
    cursor: pointer;
    @include CenterHorizontal;
    &:hover{
        background: rgb(48, 48, 47);
    }
}
.navbar__label{
    margin: 10px 0 0;
    font-size: .7em;  
}

.menu{
    margin: 0;
    height: 30rem;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    position: static;
}
.menu__item {
    background: #fff !important;
    color: rgb(0, 171, 85) !important;
    font-weight: bold !important;
    padding: 1.5rem;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:6rem;
}



@media screen and (max-width: 768px) {
    .menu {
      padding-top: 10px;
      display: flex;
    }
  
    .navbar__label {
      display: none; // Oculta la etiqueta en pantallas pequeñas si es necesario
    }
  }