.u-container{
    padding: 30px;
    width: 100%;
}
.u-margin-t-2{
    margin-top: 20px;
}


.u-flex{
    display: flex;
}

/*padding*/

.u-padding-2{
    padding: 20px;
}
/*margin*/

.u-margin-b-2{
    margin-bottom: 20px;
}
.u-margin-t-2{
    margin-top: 20px !important;    
}
.u-margin-r-2{
    margin-right: 20px;
}

.u-margin-r-1{
    margin-right: 10px;
}
.u-margin-r-6{
    margin-right: 60px;
}