.pager__element{
    border: 1px solid #13131341;
    padding: 10px;
    width: 40px;
    display: flex;
    justify-content: center;    
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}