.form_days{
    display: flex;
    width: 100%;
    justify-content: space-between;
    user-select: none;
}

.form_card{
    height: 100%;
}

.cintillo{
    background: rgb(18, 103, 160);
    color: white;
    font-weight: 700;
    text-align: center;
    padding: 3px 0;
}